h1 {

  font-family: Optima, Helvetica, sans-serif;
}

body {
  background-color: #ADD8E6;
}
.biography {
	background-color: red;
}
.education {
	background-color: white;
}
.goal {
	background-color: blue;
}
.bio {
	border: 5px solid #ffffff;
}
.game {
	border:  5px solid #ffffff;
}